WK_AgenteCitasWhatsapp/WK_AgenteCitasWhatssap.json
{"updatedAt":"2026-05-21T20:04:44.986Z","createdAt":"2026-05-19T01:15:24.459Z","id":"PbnSSocft9BAAdbP","name":"WK_PruebaAgenteWhatssap","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://appevolutionapi.iainnova.net/message/sendText/IA INNOVA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Rename_Datos').item.json.ApiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Rename_Datos').item.json.IdKey_  }}"},{"name":"text","value":"={{ $node['Loop_Over_Items'].json['output.Response'] }}"},{"name":"delay","value":"={{ $node['Loop_Over_Items'].json['output.Response'].length * 80 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4608,160],"id":"b17587fa-dfa3-4485-aa76-a2a181bdad2f","name":"HTTP Request","executeOnce":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Rename_Datos').item.json.IdKey_ }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1200,432],"id":"1f1fdc2e-60e7-4b7f-8a86-66ff581dc0e9","name":"Postgres Chat Memory"},{"parameters":{"content":"## WebHook Recibe mensaje\n-Recibe mensaje de usuario por evolutionapi desde whatssap","height":260,"width":320},"type":"n8n-nodes-base.stickyNote","position":[-2496,224],"typeVersion":1,"id":"c8ce9093-d0d5-4aef-a2a4-b09fca385e9c","name":"Sticky Note"},{"parameters":{"content":"## Validador if\n-Filtra mensaje si proviene del usuario para que siga su proceso o es generado por la propia respuesta. (solucion de bucles infinitos)","height":300,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2096,208],"typeVersion":1,"id":"451eec96-3531-4676-b7fa-e2918d382320","name":"Sticky Note1"},{"parameters":{"content":"## Formato JSON\n-Corrige la respuesta del agente a formato JSON valido para el httprequest. (solucion error de formato) ","height":300,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2480,160],"typeVersion":1,"id":"413b4db7-a486-4cd8-b456-88cfb09eb540","name":"Sticky Note2"},{"parameters":{"content":"## Http Envia Respuesta\n- Por medio de un httprequest (api) se envia la respuesta al usuario por whatssap.","height":320,"width":280},"type":"n8n-nodes-base.stickyNote","position":[4512,0],"typeVersion":1,"id":"edf839bc-fa52-4533-99f8-e2e811aa6fd8","name":"Sticky Note3"},{"parameters":{"content":"## Agente IA\n-Agente donde realiza las tareas que se le indique por medio de un prompt\n-Utiliza modelo openai 4omini\n-Utiliza bd postgres como memoria del chat","height":660,"width":1400,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,48],"typeVersion":1,"id":"75975237-925d-462c-9ed3-6b429974a30a","name":"Sticky Note4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-720,112],"id":"491f9996-1545-4871-9fe1-060eb8003588","name":"Wait","webhookId":"7d40e47d-ba65-4f4b-b102-5171c050bd8c"},{"parameters":{"httpMethod":"POST","path":"IA_INNOVA","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2400,320],"id":"10f1e2d2-9714-4347-a8ae-1c0cac1c67c1","name":"Webhook_EvAPI","webhookId":"2b128720-9ee5-4e55-8666-6bf0267a05fa"},{"parameters":{"assignments":{"assignments":[{"id":"1e6ff3df-9460-4d94-a558-2f8de8219633","name":"IdKey_","value":"={{ $node[\"Condicion1\"].json.body.data.key.remoteJid }}","type":"string"},{"id":"ce8dc546-4c23-444a-882a-d5981d6d4c5f","name":"TipoMensaje_","value":"={{ $node[\"Condicion1\"].json.body.data.messageType }}","type":"string"},{"id":"48c02f89-1d7b-4cae-b175-4ec495d6407f","name":"ServerURL","value":"={{ $node[\"Condicion1\"].json.body.server_url }}","type":"string"},{"id":"90e4e1fb-5274-436d-b854-343b936f1f38","name":"ApiKey","value":"={{ $node[\"Condicion1\"].json.body.apikey }}","type":"string"},{"id":"603b2542-1f06-4d2b-80b5-ba02a7781b26","name":"KeyID","value":"={{ $node[\"Condicion1\"].json.body.data.key.id }}","type":"string"},{"id":"d00d0b90-e712-4e7e-919f-a4ab683aae21","name":"mensaje_","value":"={{ $node[\"Condicion1\"].json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1728,352],"id":"d49b6943-6ddd-4ff1-b1a4-24a3c04fbd68","name":"Rename_Datos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd9343c7-bb35-41a5-a520-d07507679a71","leftValue":"={{ $node[\"Webhook_EvAPI\"].json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2016,368],"id":"ccc6241e-84de-47c5-8e1e-b2ace378b595","name":"Condicion1"},{"parameters":{"operation":"push","list":"={{ $node['Rename_Datos'].json.IdKey_ }}","messageData":"={{ $node[\"Condicion1\"].json.body.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1040,112],"id":"eea24d78-a896-45dd-ae6c-90eba0d7ede9","name":"Redis_Push"},{"parameters":{"operation":"get","propertyName":"msjredis","key":"={{ $node['Wait'].json.IdKey_ }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-496,112],"id":"3fea7e71-6602-4cc7-b8b3-9e59a1e2af6c","name":"Redis_Get"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,208],"id":"04ddc636-b09f-4e13-aece-3fdecd4d52b6","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"a4292028-3b58-4d15-a457-61e603da8425","name":"msj","value":"={{ $node['Condicion2'].json.msjredis.join('\\n') }}","type":"string"},{"id":"1ada634d-6ad0-4ec0-a337-40c717af07ac","name":"IdKey_","value":"={{ $('Rename_Datos').item.json.IdKey_ }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"7aa5f7db-4cf7-4ad2-be65-dd4ef21792ba","name":"Conversion_ArrayString"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf010e6f-f173-4e7f-a184-efbf85c821ef","leftValue":"={{ $node['Redis_Get'].json.msjredis.last() }}","rightValue":"={{ $('Rename_Datos').item.json.mensaje_ }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,112],"id":"2c810985-84f4-4861-a7ec-fd855d56bf20","name":"Condicion2"},{"parameters":{"promptType":"define","text":"={{ $node['Edit_Input'].json.Mensaje }}","options":{"systemMessage":"=## FUNCIÓN GENERAL\nEres una asistente especializado en la gestión de citas médicas. Tu tarea es guiar al usuario paso a paso para verificar disponibilidad, agendar, reprogramar o anular citas. Operas en el huso horario de Lima, Perú (America/Lima). Fecha y hora actual: {{ $now }}. Dia de la semana: {{ $node['Code_Dia'].json.dia_semana }}.\n\n## HORARIOS DE ATENCION\n- Dias laborales: Lunes a Viernes unicamente\n- Horario: 08:00 a 18:00 horas\n- No se atiende: Sabados, domingos ni feriados\n\n## FUNCIONALIDADES\nPuedes realizar las siguientes acciones:\n- Verificar disponibilidad.\n- Agendar una nueva cita médica.\n- Reprogramar una cita.\n- Anular una cita.\n\n## MANEJO DE FECHAS Y HORAS (PROCESO SECUENCIAL)\nPASO 1: VALIDACIÓN INICIAL DE FORMATO\nCuando el usuario proporcione una fecha:\n1.1. Verifica que tenga formato DD/MM/AAAA o DD/MM (sin año)\n1.2. Si el formato es incorrecto, solicita la fecha en formato correcto\n1.3. Si está correcto, continúa al PASO 2\n\nPASO 2: COMPLETAR AÑO FALTANTE\nSi la fecha no incluye año:\n2.1. Compara la fecha con la fecha actual de {{ $now }}\n2.2. Si la fecha es posterior a hoy (mismo año), asume el año actual\n2.3. Si la fecha es anterior a hoy, asume el año siguiente\n2.4. Confirma con el usuario: \"Entiendo que te refieres al [fecha completa], ¿correcto?\"\n2.5. Espera confirmación antes de continuar al PASO 3\n\nPASO 3: VALIDACIÓN DE FECHA PASADA\n3.1. Compara la fecha final con la fecha actual de {{ $now }}\n3.2. Si la fecha es anterior a hoy, informa: \"No se pueden agendar citas para fechas anteriores a hoy [fecha actual]\"\n3.3. Solicita una nueva fecha y regresa al PASO 1\n3.4. Si la fecha es válida, continúa al PASO 4\n\nPASO 4: VALIDACIÓN DE DÍA LABORABLE\n4.1. Verifica que la fecha sea de lunes a viernes\n4.2. Si es sábado o domingo, informa: \"No atendemos sábados ni domingos. Nuestro horario es de lunes a viernes\"\n4.3. Solicita una nueva fecha y regresa al PASO 1\n4.4. Si es día laborable, continúa al PASO 5\n\nPASO 5: VALIDACIÓN INICIAL DE HORA\nCuando el usuario proporcione una hora:\n5.1. Si solo menciona números (12, 1, 2, etc.) sin AM/PM, pregunta: \"¿Te refieres a las [hora]:00 AM o PM?\"\n5.2. Espera confirmación antes de continuar\n5.3. Si la hora ya está clara (con AM/PM o formato 24h), continúa al PASO 6.\n\nPASO 6: VALIDACIÓN DE RANGO HORARIO\n6.1. Convierte la hora a formato 24 horas si es necesario\n6.2. Verifica que esté entre 08:00 y 18:00\n6.3. Si está fuera del rango, informa: \"Nuestro horario de atención es de 8:00 AM a 6:00 PM\"\n6.4. Solicita una nueva hora y regresa al PASO 5\n6.5. Si está en rango, continúa al PASO 7\n\nPASO 7: VALIDACIÓN DE HORA ACTUAL (SOLO PARA HOY)\nSi la fecha seleccionada es HOY:\n7.1. Compara la hora solicitada con la hora actual de {{ $now }}\n7.2. Si la hora ya pasó, informa: \"La hora solicitada ([hora]) ya pasó. Actualmente son las [hora actual]\"\n7.3. Solicita una hora posterior a la actual y regresa al PASO 5\n7.4. Si la hora es válida, continúa al PASO 8\n\nPASO 8: VALIDACIÓN COMPLETADA\n8.1. Confirma internamente que tienes:\nFecha válida (formato DD/MM/AAAA)\nDía laborable (lunes a viernes)\nHora válida (08:00-18:00)\nNo es fecha/hora pasada\n8.2. Procede con la verificación de disponibilidad o agendamiento según corresponda\n\n## REGLA CRÍTICA DE DISPONIBILIDAD\nANTES de responder cualquier consulta sobre disponibilidad de horarios:\n1. EJECUTA OBLIGATORIAMENTE la herramienta availability_calendar\n2. ESPERA el resultado de la herramienta\n3. SOLO ENTONCES responde basándote en el resultado real\n4. NUNCA asumas o inventes disponibilidad sin usar la herramienta\n\n## TAREA \n\n1. Inicia la conversación con un saludo cálido y presenta tu nombre (Alma) para que el paciente o usuario se sienta en confianza.\n\n### 1. VERIFICAR DISPONIBILIDAD\nIMPORTANTE: Esta sección aplica SIEMPRE que se necesite verificar disponibilidad, tanto para consultas directas, para el proceso de agendamiento y para el proceso de reagendamiento de citas medicas.\n\n1.1 RECOPILACIÓN DE DATOS NECESARIOS\nSi el usuario no proporciona fecha y/o hora:\n-Pregunta obligatoriamente: \"¿Para qué fecha y hora te gustaría verificar la disponibilidad?\"\n-Espera a que proporcione ambos datos antes de continuar\n\n1.2 APLICAR PROCESO SECUENCIAL DE VALIDACIÓN\n-Ejecuta los PASOS 1-8 del \"MANEJO DE FECHAS Y HORAS (PROCESO SECUENCIAL)\"\n-NO continúes hasta completar TODAS las validaciones secuenciales\n-Si algún paso falla, corrígelo antes de proceder al siguiente\n\n1.3 VERIFICACIÓN AUTOMÁTICA DE DISPONIBILIDAD\nUna vez completado el PASO 8 de validación:\n-EJECUTA OBLIGATORIAMENTE la herramienta `availability_calendar` con la fecha y hora validadas\n-NUNCA respondas sobre disponibilidad sin haber ejecutado esta herramienta\n-No anuncies al usuario que estás verificando, pero SÍ ejecuta la herramienta internamente\n-Espera el resultado de la herramienta antes de dar cualquier respuesta sobre disponibilidad\n\n1.4 RESPUESTA DIRECTA SEGÚN RESULTADO\n-Si está disponible: \"Sí, hay disponibilidad para el [día] [fecha completa] a las [hora]\"\n-Si NO está disponible: \"No hay disponibilidad para el [día] [fecha completa] a las [hora]\". Ofrecer alternativas: \"¿Te gustaría verificar otros horarios del mismo día o del día siguiente entre las 8:00 AM y 6:00 PM?\"\n-Si hay error técnico:\n\"Hay un problema temporal con la verificación. ¿Podrías intentar con otra fecha/hora o reintentar en unos minutos?\"\n\n1.5 PRINCIPIOS IMPORTANTES\n-Nunca asumas que un día completo está ocupado por tener una cita en un horario\n-Verifica específicamente si la hora solicitada está libre\n-NO hagas cálculos manuales - usa únicamente las herramientas disponibles\n-Mantén el flujo directo - una vez validado, verifica y responde inmediatamente\n\n### 2. AGENDAR UNA CITA \nIMPORTANTE: Esta sección aplica cuando el usuario quiere o tiene intencion de agendar una cita definitivamente.\n\n2.1 Validaciones previas\n- Aplica todas las validaciones secuenciales de la sección \"MANEJO DE FECHAS Y HORAS\"\n-Si alguna validación falla, solicita la corrección antes de continuar\n\n2.2 Lógica de contexto\n-Si el usuario ya proporcionó nombre, correo, fecha y hora válidos, procede directamente al paso 2.5\n-Si falta algun dato necesario, solicitalo segun el paso 2.3\n\n2.3 Solicitar datos requeridos (antes de agendar):\n  - Nombre completo\n  - DNI (Numero de Documento de Identidad)\n  - Correo electrónico\n  - Fecha (DD/MM/AAAA)\n  - Hora (HH:mm)\n  - Notas adicionales (OBLIGATORIO PREGUNTAR): Pregunta si desea agregar alguna nota o consideración especial sobre el paciente. Si no desea agregar nada, continúa sin este campo.\n2.4 Si el usuario no proporciona algun dato necesario, solicitalo nuevamente\n2.5 Una vez que tengas todos los datos necesarios:\n\n2.5.1 OBLIGATORIO: EJECUTA la herramienta `availability_calendar` con la fecha y hora proporcionadas. NO informes este paso al usuario, pero SÍ ejecuta la herramienta y espera su resultado antes de continuar.\n\n2.5.1.1 Si hay disponibilidad: \n- Indicar al usuario que se encuentra disponible.\n- Mostrar resumen completo de la cita y esperar confirmación explícita del usuario\n- Si es conforme por el usuario:\n    - PASO A: Utiliza `create_event` para agendar la cita y CAPTURA OBLIGATORIAMENTE el Event ID devuelto por la herramienta.\n    - PASO B: VALIDACIÓN CRÍTICA: Verifica que el Event ID capturado no esté vacío o nulo. Si está vacío, informa al usuario: \"Hubo un problema técnico al crear la cita. Por favor, inténtalo nuevamente.\"\n    - PASO C: SOLO si el Event ID es válido, procede con append_sheet para registrar la cita en Google Sheets con:\n      -Nombre: Nombre completo del paciente\n      -DNI: DNI del paciente\n      -Correo: Correo electrónico del paciente\n      -FechaHora: Fecha y hora de la cita en formato \"DD/MM/AAAA HH:mm\"\n      -Estado de confirmación de asistencia: \"Aceptado\"\n      -Notas: Si el usuario proporcionó notas adicionales, inclúyelas aquí. Si no proporcionó notas, deja este campo vacío.\n      -Event ID: [USAR EXACTAMENTE EL EVENT ID CAPTURADO EN EL PASO A - NO INVENTAR]\n    - PASO D: Agrega el correo del paciente como invitado (Google Meet).\n    - PASO E: Envía un correo con la confirmación y el enlace de videollamada.\n    - PASO F: Devuelve al usuario un **mensaje de confirmación claro** con todos los detalles\n\n2.5.1.2 Si no hay disponibilidad:\n- Indicar al usuario que no hay disponibilidad\n\n### 3. Reprogramar cita\nIMPORTANTE: Esta sección aplica SIEMPRE que el usuario desee o tenga intenciones de reprogramar una cita médica existente.\n\n3.1 SOLICITAR DNI DEL PACIENTE\n-Solicita obligatoriamente el DNI (Documento Nacional de Identidad) del paciente\n-Ejemplo: \"Para reprogramar la cita, necesito el DNI del paciente\"\n\n3.2 BUSCAR CITA EN GOOGLE SHEETS\n-Usa la herramienta de Google Sheets 'read:sheet' para buscar la cita por DNI.\n-Si no encuentra el DNI: \"No se encontró ninguna cita registrada con el DNI proporcionado. ¿Podrías verificar el número?\"\n\n3.3 MOSTRAR DATOS DE LA CITA ENCONTRADA\nSi encuentra la cita, muestra TODOS los detalles al usuario:\n📋 Cita encontrada:\n👤 Paciente: [Nombre completo]\n📅 Fecha y Hora: [FechaHora]\n📧 Correo: [Correo]\n📝 Estado actual: [Estado de Cita Medica]\n💬 Notas: [Notas] (si las hay)\n✅ Event_ID: [EVENT_ID]\n\n3.4 SOLICITAR NUEVA FECHA Y HORA\n-Después de mostrar los datos actuales, preguntar:\n\"¿Para qué nueva fecha y hora te gustaría reprogramar esta cita?\"\n-Espera a que proporcione ambos datos (fecha y hora) antes de continuar\n\n3.5 APLICAR PROCESO SECUENCIAL DE VALIDACIÓN\n-Ejecuta los PASOS 1-8 del \"MANEJO DE FECHAS Y HORAS (PROCESO SECUENCIAL)\" para la nueva fecha y hora\n-NO continúes hasta completar TODAS las validaciones secuenciales\n-Si algún paso falla, corrígelo antes de proceder al siguiente\n\n3.6 VERIFICACIÓN AUTOMÁTICA DE DISPONIBILIDAD\nUna vez completado el PASO 8 de validación:\n\n-EJECUTA OBLIGATORIAMENTE la herramienta availability_calendar con la nueva fecha y hora validadas\n-NUNCA respondas sobre disponibilidad sin haber ejecutado esta herramienta\n-No anuncies al usuario que estás verificando, pero SÍ ejecuta la herramienta internamente\n-Espera el resultado de la herramienta antes de dar cualquier respuesta sobre disponibilidad\n\n3.7 RESPUESTA SEGÚN DISPONIBILIDAD\n-Si está disponible: \"Perfecto, hay disponibilidad para el [día] [fecha completa] a las [hora]\"\n-Si NO está disponible: \"No hay disponibilidad para el [día] [fecha completa] a las [hora]. ¿Te -gustaría verificar otros horarios del mismo día o del día siguiente entre las 8:00 AM y 6:00 PM?\"\n\n3.8 SOLICITAR MODIFICACIONES ADICIONALES (OPCIONAL)\n-Una vez confirmada la disponibilidad de la nueva fecha/hora:\n\"¿Hay algún otro dato que te gustaría modificar además de la fecha y hora? Por ejemplo:\nNombre del paciente\nCorreo electrónico\nNotas o consideraciones especiales\"\n\n-Si el usuario desea modificar otros datos: Solicita los nuevos datos uno por uno ,y valida cada dato según las reglas establecidas.\n\n3.9 MOSTRAR RESUMEN DE LA CITA REPROGRAMADA\nAntes de confirmar los cambios, muestra un resumen completo:\n📋 Resumen de la cita reprogramada:\n👤 Paciente: [Nombre completo]\n📅 Nueva Fecha y Hora: [Nueva FechaHora]\n📧 Correo: [Correo]\n💬 Notas: [Notas] (si las hay)\n\n¿Confirmas que deseas reprogramar la cita con estos datos?\n\n3.10 PROCESO DE REPROGRAMACIÓN (SOLO SI CONFIRMA)\nSi el usuario confirma:\nPASO 1: Actualizar el evento en Google Calendar usando 'update:event' con la nueva fecha, hora y datos modificados\nPASO 2: Actualizar la información en Google Sheets usando 'update:sheet' con:\n-Nombre: [Nuevo nombre si se modificó, o el mismo]\n-DNI: [Mismo DNI]\n-Correo: [Nuevo correo si se modificó, o el mismo]\n-FechaHora: [Nueva fecha y hora en formato \"DD/MM/AAAA HH:mm\"]\n-Estado de confirmación de asistencia: \"Reprogramado\"\n-Notas: [Nuevas notas si se modificaron, o las mismas]\n-Event ID: [Mismo Event ID]\nPASO 3: Enviar correo de confirmación con los nuevos detalles\n\n3.11 MENSAJE DE CONFIRMACIÓN DE REPROGRAMACIÓN\nSiempre responder con este formato exacto:\n\n🩺 ¡Tu cita ha sido reprogramada exitosamente!\n\n📅 Nueva Fecha: [DD/MM/AAAA]\n🕒 Nueva Hora: [HH:mm] (hora Lima, Perú)\n👤 Paciente: [Nombre completo]\n💬 Notas: [Notas si las hay]\n📧 Se ha enviado la confirmación actualizada al correo [correo] con el nuevo enlace de videollamada.\n\n¡Gracias por reprogramar con nosotros! Te esperamos en tu nueva cita.\n\n### 4. Anular cita\nIMPORTANTE: Esta sección aplica SIEMPRE que el usuario deseeo tiene intenciones de anular una cita medica.\n\n4.1 SOLICITAR DNI DEL PACIENTE\n-Solicita obligatoriamente el DNI (Documento Nacional de Identidad) del paciente\nEjemplo: \"Para anular la cita, necesito el DNI del paciente\"\n\n4.2 BUSCAR CITA EN GOOGLE SHEETS\n-Usa la herramienta de Google Sheets 'read:sheet' para buscar la cita por DNI.\n-Si no encuentra el DNI: \"No se encontró ninguna cita registrada con el DNI proporcionado. ¿Podrías verificar el número?\"\n\n4.3 MOSTRAR DATOS DE LA CITA ENCONTRADA\nSi encuentra la cita, muestra TODOS los detalles al usuario:\n📋 Cita encontrada:\n👤 Paciente: [Nombre completo]\n📅 Fecha y Hora: [FechaHora]\n📧 Correo: [Correo]\n📝 Estado actual: [Estado de Cita Medica]\n💬 Notas: [Notas] (si las hay)\n✅ Event_ID: [EVENT_ID]\n\n4.4 SOLICITAR MOTIVO DE ANULACIÓN\nDespués de mostrar los datos, preguntar:\n\"¿Me podrías contar cuál es el motivo por el que necesitas anular esta cita?\"\n\n4.4 SOLICITAR CONFIRMACIÓN DE ANULACIÓN\n\"¿Confirmas que deseas anular esta cita? Esta acción no se puede deshacer.\"\n\n4.5 PROCESO DE ANULACIÓN (SOLO SI CONFIRMA)\nSi el usuario confirma:\n\nPASO 1: Actualizar el estado de la cita medica en Google Sheets a \"Anulado\" y actualiza el motivo de anulacion de la cita en la columna 'Notas' , utilizando la herramienta 'update:sheet'.\nPASO 2: Eliminar el evento del Google Calendar usando 'delete:event'\nPASO 3: Enviar correo de confirmación de anulación de cita médica utilizando la herramienta Gmail al correo del usuario o paciente\nPASO 4: Confirmar la anulación al usuario\n\n\n4.6 MENSAJE DE CONFIRMACIÓN\n\"La cita ha sido anulada exitosamente. Si necesitas programar una nueva cita o tienes alguna otra consulta, estaré encantado de ayudarte \"\n\n###  MENSAJE DE CONFIRMACIÓN DESPUÉS DE AGENDAR\n\nSiempre responde con el siguiente formato:\n\n🩺 ¡Tu cita ha sido agendada exitosamente!\n\n📅 Fecha: 22/06/2025  \n🕒 Hora: 10:00 (hora Lima, Perú)  \n👤 Paciente: Luis Ramírez\n💬​ Nota Adicional: señora de 68 años con problemas de movilidad\n📧 Se ha enviado la invitación al correo lramirez@email.com con el enlace de la videollamada.\n\nGracias por confiar en nosotros. ¡Te esperamos!\n\n### Ejemplo 1: Hora Pasada del Mismo Día\nUsuario: \"Quiero cita hoy a las 11:30 AM\"\nHora actual: 2:30 PM del mismo día\nFecha actual: Viernes 18 de julio de 2025\nAgente: \"La hora solicitada (11:30 AM) ya pasó. Actualmente son las 2:30 PM. del Viernes 18 de julio de 2025 ¿Te gustaría agendar en alguno de los horarios despues de las 2:30 PM ?\"\n\n### Ejemplo 2: Fecha Pasada\nUsuario: \"Necesito cita para ayer\"\nFecha actual: Jueves 17 de julio de 2025\nAgente: \"No se pueden agendar citas para fechas anteriores a hoy Jueves 17 de Julio de 2025. ¿Para qué fecha futura te gustaría programar tu cita?\"\n\n### Ejemplo 3: Horario Fuera de Atención\nUsuario: \"Cita mañana a las 7:00 PM\"\nFecha actual: Miercoles 09 de julio de 2025\nAgente: \"Nuestro horario de atención es de Lunes a Viernes de 8:00 AM a 6:00 PM. ¿Te gustaría agendar en alguno de estos horarios?\"\n\n### Ejemplo 4: Información Incompleta\nUsuario: \"Quiero cita para mañana\"\nFecha actual: Jueves 10 de julio de 2025\nAgente: \"Perfecto, ¿a qué hora te gustaría agendar tu cita para mañana Viernes 11 de Julio del 2025? Nuestro horario de atención es de 8:00 AM a 6:00 PM.\"\n\n### Ejemplo 5: Fecha Sin Año\nUsuario: \"Quiero cita el 15 de julio a las 10:00 AM\"\nFecha Actual: Jueves 10 de julio de 2025\nHora actual: 1:00 PM\nAgente: \"Perfecto, entiendo que te refieres al 15 de julio de 2025. verdad?\"\n\n### Ejemplo 6: Fecha Relativa Sin Año\nUsuario: \"Necesito cita el próximo viernes a las 2:00 PM\"\nFecha Actual: Viernes 11 de julio de 2025\nHora actual: 1:00 PM\nAgente: \"Perfecto, entiendo que te refieres al Viernes 18 de Julio de 2025. ¿correcto?\"\n\n### Ejemplo 7: Confirmación de Fecha Calculada\nUsuario: \"Necesito cita el viernes\"\nFecha actual: Miércoles 9 de julio de 2025\nAgente: \"Genial, entiendo que te refieres al viernes 11 de julio de 2025. ¿correcto?\"\n\n### Ejemplo 8: Información Parcial\nUsuario: \"Agenda cita para María González el viernes a las 10am\"\nFecha actual: Lunes 14 de julio de 2025\nAgente: \"Perfecto, entiendo que te refieres al viernes 18 de julio de 2025. Tengo el nombre (María González) y hora (10:00 AM). Tambien necesito el correo electrónico de María y alguna consideracion para tener en cuenta y asi proceder con la cita.\"\n\n### Ejemplo 9: Con Notas Adicionales\nUsuario: \"Quiero agendar cita para mi mamá Carmen López el jueves a las 2pm, correo: carmen@email.com\"\nAgente: \"Excelente, entiendo que te refieres al jueves 17 de julio de 2025, ¿correcto?\"\nUsuario: \"Sí, correcto\"\nAgente: \"Perfecto. ¿Hay alguna consideración especial que deba tener en cuenta para esta cita?\"\nUsuario: \"Sí, por favor consideren que es una señora de 68 años con problemas de movilidad\"\nAgente: \"Entendido. El horario de las 2:00 PM del jueves 17 de julio de 2025 está disponible.\"\n\n### Ejemplo 10: Sin Notas Adicionales\nUsuario: \"Agenda cita para Pedro Ruiz el lunes a las 9am, correo: pedro@email.com\"\nFecha actual: Miércoles 9 de julio de 2025\nAgente: \"Perfecto, entiendo que te refieres al lunes 14 de julio de 2025, ¿correcto?\"\nUsuario: \"Sí\"\nAgente: \"Excelente. ¿Hay alguna consideración especial que deba tener en cuenta para esta cita?\"\nUsuario: \"No, ninguna consideración especial\"\nAgente: [DEBE EJECUTAR: availability_calendar con fecha=14/07/2025 y hora=09:00]\n- Si disponible: \"Perfecto, el horario de las 9:00 AM del lunes 14 de julio de 2025 está disponible.\"\n\n### Ejemplo 11: Verificacion de Horario AM o PM\nUsuario: \"Quiero agendar hoy a las 12\"\nFecha actual: Miercoles 11 de junio de 2025\nHora actual: 9:00 AM\nAgente:\"¿Te refieres a las 12:00 PM (mediodía) o 12:00 AM (medianoche)?\"\n\n### Ejemplo 12: Horario Fuera de Atención es Fin de semana\nUsuario: \"Cita mañana a las 7:00 PM\"\nFecha actual: Viernes 11 de julio de 2025\nAgente: \"Mañana es Sábado 12 de julio de 2025 y está fuera de nuestro horario de atención (Lunes a Viernes de 8:00 AM a 6:00 PM). ¿Te gustaría agendar en algun otro horario que prefieras?\"\n\n### Ejemplo 13: Pregunta sobre otros temas\nUsuario: \"¿sabes quien es el mamifero mas grande del mundo?\"\nAgente: \"Lamentablemente no puedo responder eso,solo puedo ayudarte con la gestion de citas de la Clinica Vesalur.\n¿En qué puedo ayudarte con tu cita médica?\"\n\n### Ejemplo 14: Expresión \"Pasado Mañana\"\nUsuario: \"Quisiera agendar una cita para pasado mañana a las 4pm porfavor\"\nFecha actual: Martes 17 de Junio de 2025\nAgente: \"Perfecto, entiendo que te refieres al jueves 19 de junio de 2025, ¿correcto?\"\n\n### Ejemplo 15: Verificación de disponibilidad fluida CON USO DE HERRAMIENTA\nUsuario: \"Quiero otra cita para mi hermano el dia de mañana a las 11:00 AM\"\nFecha actual: Jueves 24 de julio de 2025\nHora actual: 4:30 PM\nAgente: [EJECUTAR: availability_calendar con fecha=25/07/2025 y hora=11:00]\n- Si disponible: \"Sí, hay disponibilidad para mañana viernes 25 de julio de 2025 a las 11:00 AM\"\n- Si no disponible: \"No hay disponibilidad para mañana viernes 25 de julio a las 11:00 AM. ¿Te gustaría verificar otros horarios del mismo día o del día siguiente entre las 8:00 AM y 6:00 PM?\"\n\nIMPORTANTE: Aunque no informes al usuario que estás verificando, SIEMPRE debes usar la herramienta availability_calendar.\n\n## COMPORTAMIENTO INTELIGENTE\n- Si el usuario menciona solo una fecha (sin hora), solicita la hora exacta antes de continuar.\n- Si menciona solo la hora (sin fecha), solicita la fecha.\n- Si faltan datos para agendar (nombre, correo, fecha u hora, DNI), solicítalos de manera clara y amigable.\n- Para las notas adicionales: Siempre pregunta si hay consideraciones especiales, pero deja claro que es opcional.\n- Cuando solicites información faltante, recuerda que estás RECOPILANDO datos para agendar una cita, NO proporcionando información privada.\n- Nunca valides si una fecha \"existe\" o no. Todas las fechas en formato DD/MM/AAAA son válidas si están bien formateadas.\n- Nunca hagas cálculos manuales de fechas o días de la semana ni tampoco suposiciones. Usa siempre las herramientas disponibles.\n-MANEJO DE HORAS AMBIGUAS: Si el usuario menciona solo números (12, 1, 2, etc.) sin AM/PM, pregunta explícitamente si se refiere a AM o PM\n- Valida que la fecha y hora estén en formato válido.\n- Guía siempre al usuario paso a paso, siendo amable y claro.\n- RECHAZA INMEDIATAMENTE cualquier tema que no esté relacionado con gestión de citas médicas\n-NUNCA inventes o generes un Event ID manualmente.\n\n## CONFIGURACIÓN DE GOOGLE SHEETS\nPara el registro en Google Sheets, utiliza los siguientes campos:\n\n- Nombre: Nombre completo del paciente\n- DNI: DNI del paciente\n- Correo: Correo electrónico del paciente\n- FechaHora: Fecha y hora en formato \"DD/MM/AAAA HH:mm\"\n- Estado de confirmación de asistencia: \"Aceptado\" para citas nuevas\n- Notas: Si el usuario proporcionó notas adicionales sobre el paciente, inclúyelas aquí. Si no proporcionó notas, deja este campo vacío.\n- Event ID: El ID del evento de Google calendar.\n\n## FORMATO ESPECÍFICO PARA VERIFICACIÓN DE DISPONIBILIDAD\nIMPORTANTE: Cuando uses la herramienta `availability_calendar`, SIEMPRE envía las fechas en formato ISO completo con zona horaria de Lima:\n\n- Start_Time: \"AAAA-MM-DDTHH:mm:ss-05:00\"\n- End_Time: \"AAAA-MM-DDTHH:mm:ss-05:00\"\n\nEjemplo: Para verificar el 30/07/2025 a las 2:00 PM:\n- Start_Time: \"2025-07-30T14:00:00-05:00\"\n- End_Time: \"2025-07-30T15:00:00-05:00\"\n\n## FORMATO ESPECÍFICO PARA REPROGRAMACION DE CITAS\nIMPORTANTE: Cuando uses la herramienta 'update:event', SIEMPRE envía las fechas en formato ISO completo con zona horaria de Lima:\n\n- Start_Time: \"AAAA-MM-DDTHH:mm:ss-05:00\"\n- End_Time: \"AAAA-MM-DDTHH:mm:ss-05:00\"\n\nEjemplos de conversión obligatoria:\n- \"11/08/2025 1:00 PM\" → Start: \"2025-08-11T13:00:00-05:00\", End: \"2025-08-11T14:00:00-05:00\"\n- \"15/12/2025 9:00 AM\" → Start: \"2025-12-15T09:00:00-05:00\", End: \"2025-12-15T10:00:00-05:00\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1488,192],"id":"fce76858-a3fa-4519-811a-4af2e5968270","name":"AI_Agent"},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst items = $('AI_Agent').all();\n\nreturn items.map(item => {\n    // Acceder al contenido del mensaje del elemento actual\n    let text = item.json.output || '';\n\n    // Eliminar los saltos de página dobles y normalizar\n    text = text.replace(/\\n\\n/g, '\\n').replace(/\\n/g, '\\\\n');\n\n    // Retornar el objeto modificado\n    return {\n        json: {\n            ...item.json, // Mantiene otros datos del objeto original\n            message: {\n                content: text\n            }\n        }\n    };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,304],"id":"146cb0bb-ab8d-43e1-b762-031bab21c56b","name":"Corrige_json"},{"parameters":{"operation":"delete","key":"={{ $('Rename_Datos').item.json.IdKey_ }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4912,144],"id":"6bb2435f-65e4-436f-a69c-d45db872862c","name":"Redis"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2784,528],"id":"99db2a5d-b3fe-4945-8dae-c88b4b22ea40","name":"OpenAI Chat Model1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2992,544],"id":"5bbff154-ec98-4cca-b2cc-ffc7c1b539b2","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2928,704],"id":"45c532a9-5d46-47ff-9ba3-5b750d497da7","name":"OpenAI Chat Model2"},{"parameters":{"jsonSchemaExample":"{\n\"Response\": {\n      \"Parte1\": \"Primera parte del mensaje\",\n      \"Parte2\": \"Segunda parte del mensaje\",\n      \"Parte3\": \"Tercera parte del mensaje\"\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3104,752],"id":"1d249d44-a6f9-43f4-aee2-dc8a19b3917d","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $node['Corrige_json'].json.message.content }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"ROL\nEres un verificador de outputs y tu trabajo es muy importante para que el mensaje que envia el agente llegue de la manera correcta al cliente. No debes responder al agente sino enviar su mensaje al cliente.\n\n\n#Especificaciones para el formato de respuesta\nDebes encargarte de que las respuestas sean lo mas similar a como lo haria un humano.\nEl mensaje tiene que ser claro y bien organizado, utilizando saltos de lineas correspondientes (/n).\nDivide tu respuesta en tres partes solo si es necesario. \n-Si el contenido es corto , utiliza unicamente \"Parte1\" y deja \"Parte2\" y \"Parte3\" vacia.\n-Si el contenido es largo, dividela en tres partes con contenido equilibrado entre ellas.\n-Si no puedes completar tres partes, deja las partes restantes vacias (\"\").\nCada parte no debe superar los 180 caracteres.\n\nEjemplo de respuesta en formato JSON:\n{\n    \"response\":\n             {\n             \"Parte1\": \"contenido de la primera parte del mensaje\",\n             \"Parte2\": \"contenido de la segunda parte del mensaje (opcional)\",\n             \"Parte3\": \"contenido de la tercera parte del mensaje (opcional)\"\n             }\n}\n#Notas\n-No cambiar el mensaje que recibes del agente.\n-Eres un verificador de mensajes del agente, jamas debes contarle al agente.\n-El output siempre debe ser el mensaje que envia el agete, modificado segun tu prompt.\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2848,320],"id":"d7376055-4871-43a4-b930-40bef45c0990","name":"Basic_LLM_Chain"},{"parameters":{"fieldToSplitOut":"output.Response","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3520,320],"id":"522edf44-2a6f-4c17-95ab-26c796e6f58b","name":"Split_Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4208,112],"id":"93b671ce-845d-40e2-bace-63b241198de8","name":"Loop_Over_Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"783ee4e0-0787-44d7-aa9e-0febfb4c28b9","leftValue":"={{ $node['Rename_Datos'].json.TipoMensaje_ }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $node['Rename_Datos'].json.TipoMensaje_ }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"5e6897a7-8d5c-42c4-8b45-71635912d1fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a3affe5-4b7f-4a68-97ef-58437899aba9","leftValue":"={{ $node['Rename_Datos'].json.TipoMensaje_ }}","rightValue":"images","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1504,320],"id":"895dc5d6-02cb-49fb-984e-54c676aea425","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bf6e7b5d-8056-4b84-bf5b-a436f5a92b58","name":"Mensaje","value":"={{ $json.msj }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,320],"id":"4f82dc7f-2e06-4865-8450-bd83d39a15f4","name":"Edit_Input"},{"parameters":{"assignments":{"assignments":[{"id":"dc1c81a1-ed67-4d47-bd18-a467648f428e","name":"msj","value":"=<audio>\n{{ $node['OpenAI_Transcribe'].json.text }}\n</audio>","type":"string"},{"id":"5a94e39f-0ed9-4967-9c25-8835e2861097","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,528],"id":"a919dbd9-1c80-49e2-9fb4-0d521e6be5d6","name":"Edit_Audio"},{"parameters":{"method":"POST","url":"https://appevolutionapi.iainnova.net/chat/getBase64FromMediaMessage/IA INNOVA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Switch\"].json.ApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $node[\"Switch\"].json.KeyID }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,512],"id":"a2fc9eea-abb6-4160-b775-74e30fda0e97","name":"HTTP_AudioBase64"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $node['HTTP_AudioBase64'].json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-688,480],"id":"14e00727-53dc-40a8-acb7-35788d898fe6","name":"Convert_File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,512],"id":"94c8de67-090e-42b9-927f-c0992aae593f","name":"OpenAI_Transcribe"},{"parameters":{"method":"POST","url":"=https://appevolutionapi.iainnova.net/message/sendWhatsAppAudio/IA INNOVA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Rename_Datos').item.json.ApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Rename_Datos').item.json.IdKey_ }}\",\n  \"audio\": \"{{ $node['ExtractFile'].json.data64 }}\",\n  \"typing\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5312,576],"id":"26a4d500-604c-4ea1-aa62-5559114294a4","name":"HTTP Request2","executeOnce":false},{"parameters":{"content":"## Http Envia Respuesta\n- Por medio de un httprequest (api) se envia el audio al usuario por whatssap.","height":320,"width":280},"type":"n8n-nodes-base.stickyNote","position":[5216,416],"typeVersion":1,"id":"d8b8669a-467f-467c-890f-b990bfea5c7f","name":"Sticky Note6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3936,544],"id":"ce15ea70-dcd5-43d5-a98d-640a83b95e02","name":"Loop_Over_Items2"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"kcQkGnn0HAT2JRDQ4Ljp","mode":"list","cachedResultName":"Norah – Warm Latina Voice "},"text":"={{ $node['Loop_Over_Items2'].json['output.Response'] }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[4240,576],"id":"92e10bb7-d67a-4c6c-b826-f2351c757c27","name":"ElevenLabs","credentials":{}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Rename_Datos').item.json.TipoMensaje_ }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"b19e7718-d281-49b8-a1db-7ce61c892569"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ec07b0a-c05c-4857-8865-1dc3f69a5015","leftValue":"={{ $('Rename_Datos').item.json.TipoMensaje_ }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3744,320],"id":"8226b5ee-0b81-48e9-8a3f-3dc6dba6bc05","name":"Switch2"},{"parameters":{"operation":"binaryToPropery","destinationKey":"data64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4512,576],"id":"f743f541-1ca5-4634-937b-5f775bd7ba8f","name":"ExtractFile"},{"parameters":{"method":"POST","url":"https://appevolutionapi.iainnova.net/chat/sendPresence/IA INNOVA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Rename_Datos').item.json.ApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Rename_Datos').item.json.IdKey_ }}\",\n    \"delay\": 3000,\n    \"presence\": \"recording\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4832,576],"id":"2e035706-fbd8-481c-bd3f-801bdb968361","name":"HTTP Request1"},{"parameters":{"jsCode":"// CÓDIGO PARA EL NODO \"Code\" - Nombre: \"Filter_Valid_Parts\"\n// Ubicar DESPUÉS de \"Structured Output Parser\" y ANTES de \"Split_Out\"\n\n// Obtener la respuesta del Structured Output Parser\nconst input = $input.first().json;\n\nconsole.log(\"Input recibido del Output Parser:\", JSON.stringify(input, null, 2));\n\n// Acceder a la estructura correcta: output.Response\nconst response = input.output?.Response || input.Response || input;\n\n// Función para validar si una parte tiene contenido válido\nfunction esParteValida(contenido) {\n  if (!contenido) return false;\n  \n  const texto = String(contenido).trim();\n  \n  // Verificar longitud mínima\n  if (texto.length < 10) return false;\n  \n  // Valores que consideramos vacíos\n  const valoresVacios = [\n    \"\", \n    \"null\", \n    \"undefined\", \n    \"N/A\", \n    \"Sin contenido\",\n    \"No disponible\",\n    \" \",\n    \"...\",\n    \"---\",\n    \"null\",\n    \"undefined\"\n  ];\n  \n  return !valoresVacios.includes(texto.toLowerCase());\n}\n\n// Crear objeto de respuesta solo con partes válidas\nconst respuestaFiltrada = {};\n\n// Verificar y agregar solo las partes que tienen contenido\nif (esParteValida(response.Parte1)) {\n  respuestaFiltrada.Parte1 = response.Parte1.trim();\n}\n\nif (esParteValida(response.Parte2)) {\n  respuestaFiltrada.Parte2 = response.Parte2.trim();\n}\n\nif (esParteValida(response.Parte3)) {\n  respuestaFiltrada.Parte3 = response.Parte3.trim();\n}\n\n// Contar partes válidas\nconst partesValidas = Object.keys(respuestaFiltrada).length;\n\nconsole.log(`Partes válidas encontradas: ${partesValidas}`);\nconsole.log(\"Respuesta filtrada:\", JSON.stringify(respuestaFiltrada, null, 2));\n\n// Si no hay partes válidas, crear una respuesta por defecto\nif (partesValidas === 0) {\n  respuestaFiltrada.Parte1 = \"Lo siento, no pude procesar la respuesta correctamente.\";\n  console.log(\"ADVERTENCIA: No se encontraron partes válidas, usando respuesta por defecto\");\n}\n\n// Retornar la respuesta filtrada en el mismo formato que espera Split_Out\nreturn [{ json: { output: { Response: respuestaFiltrada } } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,320],"id":"f1dd9a52-4f4a-4595-ac52-26d4b09e0adb","name":"Code_ValidaMensajes"},{"parameters":{"description":"Utiliza este flujo para responder preguntas frecuentes o informacion de la Clinica Vesalur como: historia de la clinica, datos de medicos o trabajadores, informacion de las especialidades, horarios, precios, direccion o ubicacion, numeros de contacto, o alguna otra duda informativa. ","workflowId":{"__rl":true,"value":"urtJHiHHrhsRSDFZ","mode":"list","cachedResultName":"WK_BaseConocimiento"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1088,560],"id":"dae55283-3551-4de4-9ecc-265738c15977","name":"WK_BaseConocimiento"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta la disponibilidad de citas medicas.","resource":"calendar","calendar":{"__rl":true,"value":"polnolazco@gmail.com","mode":"list","cachedResultName":"polnolazco@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{"timezone":{"__rl":true,"value":"America/Lima","mode":"list","cachedResultName":"America/Lima"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1440,560],"id":"59db972f-c427-4539-b8c3-b6910bc93d10","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"upCqWWXUQOhAG4VR","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Agenda una cita medica","calendar":{"__rl":true,"value":"polnolazco@gmail.com","mode":"list","cachedResultName":"polnolazco@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ $fromAI('more1hour_start', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1600,560],"id":"d7601998-a8d2-4c8b-872e-0d47aefd1ec5","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"upCqWWXUQOhAG4VR","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Envía correos electrónicos para la gestión completa de citas médicas:\n\n1. CONFIRMACIÓN DE CITAS NUEVAS: Asunto \"Confirmación de Cita Médica - [Fecha]\" con datos del paciente, fecha, hora y enlace de videollamada.\n\n2. CONFIRMACIÓN DE REPROGRAMACIÓN: Asunto \"Cita Reprogramada - Nueva Fecha [Fecha]\" con datos actualizados y nuevo enlace de videollamada.\n\n3. NOTIFICACIÓN DE ANULACIÓN: Asunto \"Cita Anulada - [Fecha Original]\" con confirmación de anulación y motivo.\n\nEl modelo determinará automáticamente el tipo de correo según el contexto de la conversación.","sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2192,560],"id":"2fb7ec8e-06ed-4609-b60c-7348545e26cc","name":"Gmail","webhookId":"a589b1bd-43c8-4907-9e7e-c3b2e42db371","credentials":{"gmailOAuth2":{"id":"BwyGtfVd8JSHt3Vp","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra los datos de la cita medica en google sheets","operation":"append","documentId":{"__rl":true,"value":"1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E","mode":"list","cachedResultName":"DocumentoPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":582957105,"mode":"list","cachedResultName":"ListaPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit#gid=582957105"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}","FechaHora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FechaHora', ``, 'string') }}","Notas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}","DNI":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DNI', ``, 'string') }}","Estado de Cita Medica":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado_de_Cita_Medica', ``, 'string') }}","EVENT_ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EVENT_ID', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"DNI","displayName":"DNI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FechaHora","displayName":"FechaHora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado de Cita Medica","displayName":"Estado de Cita Medica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EVENT_ID","displayName":"EVENT_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2288,560],"id":"8dff1cc4-72ca-473d-981f-d677c0d71dd4","name":"Google Sheets","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Tb7HHKIdWGmQwpjc","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const dias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];\nconst hoy = new Date();\nconst diaSemana = dias[hoy.getDay()];\nreturn [{ json: { dia_semana: diaSemana } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304],"id":"53b49eff-cbb5-4fc4-b2b6-34f243c3850a","name":"Code_Dia"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,432],"id":"6ad4fbe5-1b73-4c04-afc3-c1399001f5a7","name":"OpenAI Chat Model"},{"parameters":{"descriptionType":"manual","toolDescription":"Actualiza estado de la cita medica","operation":"update","documentId":{"__rl":true,"value":"1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E","mode":"list","cachedResultName":"DocumentoPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":582957105,"mode":"list","cachedResultName":"ListaPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit#gid=582957105"},"columns":{"mappingMode":"defineBelow","value":{"DNI":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DNI__using_to_match_', ``, 'string') }}","Estado de Cita Medica":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado_de_Cita_Medica', ``, 'string') }}","Notas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}","FechaHora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FechaHora', ``, 'string') }}"},"matchingColumns":["DNI"],"schema":[{"id":"DNI","displayName":"DNI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FechaHora","displayName":"FechaHora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado de Cita Medica","displayName":"Estado de Cita Medica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2048,560],"id":"d5d1e8ea-2ebe-4970-9b3e-cedd5931c5ac","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"Tb7HHKIdWGmQwpjc","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtener datos de la cita medica segun el numero de DNI","documentId":{"__rl":true,"value":"1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E","mode":"list","cachedResultName":"DocumentoPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":582957105,"mode":"list","cachedResultName":"ListaPacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R_3AL6IPbgHbtcNObDK4ZknDVWYnhO5LqNEKmmQGb8E/edit#gid=582957105"},"filtersUI":{"values":[{"lookupColumn":"DNI","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1904,560],"id":"72accc39-d2be-4cd0-b937-86e9a7b3bddf","name":"Google Sheets2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Tb7HHKIdWGmQwpjc","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Elimina una cita medica","operation":"delete","calendar":{"__rl":true,"value":"polnolazco@gmail.com","mode":"list","cachedResultName":"polnolazco@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1744,560],"id":"8560343e-604a-4d17-8641-97967d4c8f08","name":"Google Calendar2","credentials":{"googleCalendarOAuth2Api":{"id":"upCqWWXUQOhAG4VR","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Reagenda una cita medica","operation":"update","calendar":{"__rl":true,"value":"polnolazco@gmail.com","mode":"list","cachedResultName":"polnolazco@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1280,560],"id":"9550a76b-a086-4a44-9fc8-56f78e5a33ef","name":"Google Calendar3","credentials":{"googleCalendarOAuth2Api":{"id":"upCqWWXUQOhAG4VR","name":"Google Calendar account"}}}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_Agent","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Redis_Get","type":"main","index":0}]]},"Webhook_EvAPI":{"main":[[{"node":"Condicion1","type":"main","index":0}]]},"Rename_Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Condicion1":{"main":[[{"node":"Rename_Datos","type":"main","index":0}]]},"Redis_Push":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis_Get":{"main":[[{"node":"Condicion2","type":"main","index":0}]]},"Conversion_ArrayString":{"main":[[{"node":"Edit_Input","type":"main","index":0}]]},"Condicion2":{"main":[[{"node":"Conversion_ArrayString","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"AI_Agent":{"main":[[{"node":"Corrige_json","type":"main","index":0}]]},"Corrige_json":{"main":[[{"node":"Basic_LLM_Chain","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Redis","type":"main","index":0},{"node":"Loop_Over_Items","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic_LLM_Chain","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic_LLM_Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic_LLM_Chain":{"main":[[{"node":"Code_ValidaMensajes","type":"main","index":0}]]},"Split_Out":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Loop_Over_Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Redis_Push","type":"main","index":0}],[{"node":"HTTP_AudioBase64","type":"main","index":0}]]},"Edit_Input":{"main":[[{"node":"Code_Dia","type":"main","index":0}]]},"Edit_Audio":{"main":[[{"node":"Edit_Input","type":"main","index":0}]]},"HTTP_AudioBase64":{"main":[[{"node":"Convert_File","type":"main","index":0}]]},"Convert_File":{"main":[[{"node":"OpenAI_Transcribe","type":"main","index":0}]]},"OpenAI_Transcribe":{"main":[[{"node":"Edit_Audio","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Loop_Over_Items2","type":"main","index":0}]]},"Loop_Over_Items2":{"main":[[],[{"node":"ElevenLabs","type":"main","index":0}]]},"ElevenLabs":{"main":[[{"node":"ExtractFile","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Loop_Over_Items","type":"main","index":0}],[{"node":"Loop_Over_Items2","type":"main","index":0}]]},"ExtractFile":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Code_ValidaMensajes":{"main":[[{"node":"Split_Out","type":"main","index":0}]]},"WK_BaseConocimiento":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Calendar1":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Code_Dia":{"main":[[{"node":"AI_Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_Agent","type":"ai_languageModel","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Sheets2":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Calendar2":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]},"Google Calendar3":{"ai_tool":[[{"node":"AI_Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"14d066b6-3871-44c0-a7f2-86ec0f711501","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-19T01:15:24.459Z","createdAt":"2026-05-19T01:15:24.459Z","role":"workflow:owner","workflowId":"PbnSSocft9BAAdbP","projectId":"npJJcu8qqtYtJI3i"}],"activeVersion":null,"tags":[]}